/*
THIS IS YOUR STLYE SHEET
*/

/*
THIS IS THE STYLE FOR THE ENTIRE WEBSITE
*/

html	{
	font-family: Avenir Next;
	}
body	{
	min-height:100hv;
	min-height: 100dvh;
	}
header 	{
	background-color:rgb(23,163,233);
	}

a	{
	font-family:Avenir Next;
	font-weight: normal;
	}
h1	{
	font-family:Avenir Next;
	font-weight: normal;
	}
h2	{
	font-family:Avenir Next;
	font-weight: normal;
	}
p 	{
	text-align:justify;
	font-family:Avenir Next;
	font-weight: normal; 
	font-size:100%;
	line-height: 2; 
	color:black;
	padding-left: 7%; 
	padding-right: 5%; 
	padding-top: 0%;
	padding-bottom: 0%;
	text-indent:50px;
	margin-top: 0px;
    	margin-bottom: 0px;
	}
footer	{
	clear: both;
	background-color:rgb(23,163,233);		
	padding:2%;
	margin-top: 2%;	
	}
.topnav {
	background-color:rgb(23,163,233);	
	padding:1.5%;	
	display: flex;	
	}
.topnav ul {
	list-style: none;
	display: flex;	
	width: 98%;
	overflow: overlay;
	align-items: center;
	}
.topnav .home-li{
	margin-right: auto;
	}
.topnav a {
	display: flex;
	text-decoration: none;
	font-size: 1.1em;
	color:white;
	padding: 1em 2em;
	background-color:rgb(23,163,233);
	height: 100%;
	position: relative;
	white-space: nowrap;
	}

*::-webkit-scrollbar {
  	display: block;
  	width: 16px;
	height: 10px;
}

*::-webkit-scrollbar-button {
  	display: none;
}

*::-webkit-scrollbar-track {
  	background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  	background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  	background-color: #00000040;
  	border-radius: 24px;
}

.topnav li {
	display: flex;
	}
.topnav img {
	width: 15em;
	}
.topnav a:hover {
	background-color: rgb(23,163,233);
	color: rgb(21, 60, 96);
	}
.topnav li:first-child{
	margin-right: auto;
	}
#open-sidebar-button{
	display:none;
	background:none;
	border:none;
	padding: 1em;
	margin-left: auto;
	cursor: pointer;
	}
#overlay{
	background: rgb(23,163,233,0.5);
	position: fixed;
	inset:0;
	z-index:9;
	display: none;
	}
@media screen and (max-width: 700px){
	#open-sidebar-button, #close-sidebar-button {display: block;}
	.topnav	{
		position: fixed; 
		top: 0;
		right: -100%;
		height: 100vh;
		width: min(12emm 100%);
		z-index: 10;
		border-left: 1px solid var(--hover-color);
		transition: right 300ms ease-out;
		} 	
	.topnav.show{
		right: 0;
		}
	.topnav.show ~ #overlay{
		display:block;
		}
	.topnav ul{
		width: 100%;
		flex-direction: column;
		align-items:flex-start;
		padding-left: 0.5em;
		}
	.topnav a{
		width: 100%;
		height: 50%;
		padding-left: 0.2 em;
		align-items: center;
		justify-content: left;
		text-align: left;
		}
	.topnav li:first-child{
		margin-right: unset;
		}
	}
.logo	{
	padding-top: 1%;
 	margin-right: auto;
	}
.backgroundlogo	{
	background-color: rgb(23,163,233);
	padding:5%;
	}
.second-nav {
	background-color:rgb(222, 242, 249);
	font-size:1.5em;
	color:rgb(9, 100, 134);
	padding-left: 5%; 
	padding-bottom: 1.5%;
	padding-top: 1.5%;
	text-decoration: none;
	display: flex;
	align-items: center;
	}
.subsection {
	padding-left: 300px;
	white-space: nowrap;		
	}	
.subsection a{	
    	font-size: 1em;
    	color:rgb(19, 146, 197); 
	padding-right: 60px;
	position: relative;
	}	
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	padding-bottom: 5%;
	padding-top: 5%;"
	width: 50%;			
	}
.subhead1 {
	font-size: 1.1em;
	color:rgb(19, 146, 197); 
	padding-left: 5%; 
	padding-bottom: 0.5%;
	padding-top: 1%;
	}
.citations {
	text-align:justify;
	font-size: 1.1em;
	line-height: 1; 
	color:black;
	padding-left: 9%; 
	padding-right: 5%; 
	padding-top: 0%;
	padding-bottom: 1%;
	}
.container{
	display: grid;
  	grid-template-columns: 25% 15%;
	padding-left:10%;
	}
.column1 {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 100%;
	position: relative;
	height: 100%;
    	border: 1% solid #ccc;
  	padding: 10%;
	place-items: center
	}
.column2 {
    	position: relative;
    	width: 400%;
   	min-height: 1%;
	max-width:400%
   	box-sizing: border-box;
	}
.imgwrap 	{
  	width: 75%;
	min-width: 100%;
    	margin: auto;
    	border-top-width: 23%;
    	padding-top: 0%;
	}
/*
THIS SECTION IS SPECIFIC FOR HOMEPAGE
*/
.first-homepageparagraph {
	font-size:1.2em;
	padding-top: 30px
	}
.homepageparagraph {
	font-size:1.2em;
	}
/*
THIS SECTION IS SPECIFIC FOR PAGE RESEARCH
*/
.project-head {
	font-weight: bold;
	font-size: 1.2em;
	color:rgb(9, 100, 134);
	padding-left: 7%; 
	padding-bottom: 0.5%;
	padding-top: 3%;
	}
/*
THIS IS FOR JOIN US
*/
.paragraph2 {
	padding-left: 9%; 
	}
.subhead1 {
	font-size: 1.1em;
	color:rgb(23,163,233); 
	padding-left: 7%; 
	padding-bottom: 0.5%;
	padding-top: 3%;
	}
/*
THIS IS FOR PEOPLE
*/
.Name-head {
	font-size: 1.2em;
	font-weight: 500;
	color:rgb(55, 55, 55);
	padding-left: 2%; 
	padding-bottom: 0%;
	padding-top: 3%;
	text-indent: 0;
	}
.Name-subhead {
	font-size:1.2em;
	color:rgb(9, 100, 134);
	padding-left: 2%; 
	padding-bottom: 0%;
	padding-top: 0%;
	text-indent: 0;
	}
.paragraph-people{
	padding-left: 2%;
	}
/*
THIS IS FOR LAB NEWS AND LAB ACTIVITIES
*/
.date	{
	font-family:Avenir Next;
	font-weight: normal;
	font-size:1.1em;
	color:rgb(9, 100, 134);
	padding-left: 9%; 
	padding-bottom: 0.5%;
	padding-top: 0%;
	}
.paragraph-news{
	text-indent: 0;
	padding-left: 11em;
	}
.news-img{
	width:30%;
	height:30%;
	margin-left:40%;
	}
.subhead1 {
	font-family:Avenir Next; 
	font-weight: normal;
	font-size: 1.5em;
	color:rgb(23,163,233); 
	padding-left: 7%; 
	padding-bottom: 0.5%;
	padding-top: 3%;
	}
.news-head {
	font-family:Avenir Next;
	font-weight: bold;
	font-size:1.2em;
	color:rgb(9, 100, 134);
	padding-left: 9%; 
	padding-bottom: 0%;
	padding-top: 0%;
	}

