/*
THIS IS YOUR STLYE SHEET
*/

/*
THIS IS THE STYLE FOR THE ENTIRE WEBSITE
*/
a	{
	font-family:Avenir Next;
	font-weight: normal;
	}
h1	{
	font-family:Avenir Next;
	font-weight: normal;
	}
h2	{
	font-family:Avenir Next;
	font-weight: normal;
	}
p 	{
	text-align:justify;
	font-family:Avenir Next;
	font-weight: normal; 
	font-size:100%;
	line-height: 2; 
	color:black;
	padding-left: 7%; 
	padding-right: 5%; 
	padding-top: 0%;
	padding-bottom: 0%;
	text-indent:50px;
	margin-top: 0px;
    	margin-bottom: 0px;
	}
footer	{
	clear: both;
	background-color:rgb(23,163,233);		
	padding:2%;
	margin-top: 2%;	
	}
.topnav {
	background-color:rgb(23,163,233);		
	overflow: hidden;
	padding:1.5%;	
	vertical-align: bottom;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	white-space: nowrap;
	}
.topnav a {
	text-align: center; 
	background-color:rgb(23,163,233);
	color:white;
	padding: 1%;
	font-size:140%;
	text-decoration: none;
	position: relative;
	}
.topnav a:hover {
	background-color: rgb(23,163,233);
	color: rgb(21, 60, 96);
	}
.logo	{
	padding-top: 1%;
 	margin-right: auto;
	}
.backgroundlogo	{
	background-color: rgb(23,163,233);
	padding:5%;
	}
.second-nav {
	background-color:rgb(222, 242, 249);
	font-size:170%;
	color:rgb(9, 100, 134);
	padding-left: 5%; 
	padding-bottom: 1.5%;
	padding-top: 1.5%;
	text-decoration: none;
	display: flex;
	align-items: center;
	}
.subsection {
	padding-left: 300px;
	white-space: nowrap;		
	}	
.subsection a{	
    	font-size: 80%;
    	color:rgb(19, 146, 197); 
	padding-right: 60px;
	position: relative;
	}	
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	padding-bottom: 5%;
	padding-top: 5%;"
	width: 50%;			
	}
.subhead1 {
	font-size:150%;
	color:rgb(19, 146, 197); 
	padding-left: 5%; 
	padding-bottom: 0.5%;
	padding-top: 1%;
	}
.citations {
	text-align:justify;
	font-size:100%;
	line-height: 1; 
	color:black;
	padding-left: 9%; 
	padding-right: 5%; 
	padding-top: 0%;
	padding-bottom: 1%;
	}
.container{
	display: grid;
  	grid-template-columns: 25% 15%;
	padding-left:10%;
	}
.column1 {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 100%;
	position: relative;
	height: 100%;
    	border: 1% solid #ccc;
  	padding: 10%;
	place-items: center
	}
.column2 {
    	position: relative;
    	width: 400%;
   	min-height: 1%;
	max-width:400%
   	box-sizing: border-box;
	}
.imgwrap 	{
  	width: 75%;
	min-width: 100px;
    	margin: auto;
    	border-top-width: 23%;
    	padding-top: 0%;
	}
/*
THIS SECTION IS SPECIFIC FOR HOMEPAGE
*/
.first-homepageparagraph {
	font-size:120%;
	padding-top: 30px
	}
.homepageparagraph {
	font-size:120%;
	}
/*
THIS SECTION IS SPECIFIC FOR PAGE RESEARCH
*/
.project-head {
	font-weight: bold;
	font-size:130%;
	color:rgb(9, 100, 134);
	padding-left: 7%; 
	padding-bottom: 0.5%;
	padding-top: 3%;
	}
/*
THIS IS FOR JOIN US
*/
.paragraph2 {
	padding-left: 9%; 
	}
.subhead1 {
	font-size:150%;
	color:rgb(23,163,233); 
	padding-left: 7%; 
	padding-bottom: 0.5%;
	padding-top: 3%;
	}
/*
THIS IS FOR PEOPLE
*/
.Name-head {
	font-size:140%;
	color:rgb(55, 55, 55);
	padding-left: 2%; 
	padding-bottom: 0%;
	padding-top: 3%;
	text-indent: 0;
	}
.Name-subhead {
	font-size:110%;
	color:rgb(9, 100, 134);
	padding-left: 2%; 
	padding-bottom: 0%;
	padding-top: 0%;
	text-indent: 0;
	}
.paragraph-people{
	padding-left: 2%;
	}
/*
THIS IS FOR LAB NEWS AND LAB ACTIVITIES
*/
.date	{
	font-size:100%;
	color:rgb(9, 100, 134);
	padding-bottom: 0.5%;
	padding-top: 0%;
	padding-left: 78px;
	}
.paragraph-news{
	text-indent: 0;
	padding-left: 125px;
	}
.news-img{
	width:30%;
	height:30%;
	padding-left: 125px;
	padding-top: 15px
	}


